/* .navbar-light:nth-of-type(2) {
  z-index: 2;
  position: fixed;
  top: 55px;
  transition: top 0.3s ease-in-out;
  overflow: hidden;
}

.navbar-light:nth-of-type(1) {
  top: 0;
  z-index: 2;
  position: fixed;
  transition: top 0.3s ease-in-out;
  overflow: hidden;
} */

.space-button {
  flex: 1 1 auto;
}

button {
  margin-right: 5px;
  background-color: transparent; /* Change this to your desired color */
  border: 0.5px solid snow;
  border-radius: 0;
  color: white;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9; /* Change this to your desired hover color */
}

.title {
  font-size: 2em; /* Set the font size to 3 times the default size */
  font-weight: bold; /* Make the text bold */
  text-align: left; /* Center the text horizontally */
  margin-top: 1.3em; /* Add some space above the text */
  margin-bottom: 1em; /* Add some space below the text */
  text-transform: uppercase; /* Convert the text to all uppercase */
  letter-spacing: 0.1em; /* Add a small amount of space between each letter */
  color: #333; /* Set the text color to dark gray */
}
