<mat-toolbar class="navbar-light" style="background-color: #3399ff">
  <span class="title"> Flagship Book </span>
  <span class="space-button"></span>
  <button *ngIf="!isLoggedIn()" routerLink="/login" mat-raised-button>
    Login
  </button>

  <button
    *ngIf="isLoggedIn()"
    (click)="logout()"
    mat-raised-button
    color="warn"
  >
    Log out
  </button>
</mat-toolbar>

<mat-toolbar
  class="navbar-light"
  style="background-color: #3399ff"
  *ngIf="isLoggedIn()"
>
  <button mat-raised-button routerLink="/">Home</button>
  <button *ngIf="!isAdmin()" mat-raised-button routerLink="/cart">Cart</button>
  <button *ngIf="!isAdmin()" mat-raised-button routerLink="/myOrders">
    My Orders
  </button>
  <button *ngIf="isAdmin()" mat-raised-button routerLink="/addNewProduct">
    Add new product
  </button>
  <button *ngIf="isAdmin()" mat-raised-button routerLink="/showProductDetails">
    Show product details
  </button>

  <button *ngIf="isAdmin()" mat-raised-button routerLink="/orderInformation">
    Order Information
  </button>
</mat-toolbar>
